@import "tailwindcss";

@theme {
  --color-primary: #004A99;
  --color-primary-dark: #25476E;
  --color-accent: #E1BC2E;
  --color-background: #F9FAEE;
  --color-foreground: #3A3A3A;
  
  --color-secondary-gray: #EDF1F2;
  --color-secondary-blue: #689BBC;
  --color-secondary-lightblue: #AFD7F6;
  
  --color-success: #8BBF00;
  --color-warning: #F26C23;
  --color-danger: #CC0000;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}
